/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$bg-color: #222;

body {
  background-color: $bg-color;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}

nav {
  background-color: $bg-color;
}

.navbar-inverse .navbar-brand {
  font-weight: bold;
  color: #fff;
}

.navbar-fixed-top {
  border: 0;
}

.dib {
  display: inline-block;
  font-weight: bold;
  margin-top: 16px;
  color: #999;
}

.btn-default {
  font-weight: bold;
  background-color: $bg-color;
  color: #999;
  border-color: #999;
}
.btn-default:hover {
  font-weight: bold;
  background-color: $bg-color;;
  color: #fff;
  border-color: #fff;
}


@media (min-width: 768px) {
  .navbar-header {
      float: none;
  }
}

.socialbuttons {
  display: inline-block;
  margin-top: 10px;
  float: right;

  .github-button, .twitter-share-button {
    margin-left: 12px;
    margin-right: 12px;
    float: right;
  }
}


.jumbotron {
  background-color: $bg-color;
  padding: 0 0 30px 0;
  margin: 20px 0 15px 0;


  h1 {
    font-weight: bold;
    font-size: 72px;
  }

  p {
    font-weight: bold;
    font-size: 18px;
    color: #999;
  }

  a {
    color: #999;
    text-decoration: underline;
  }

  a:hover {
    color: #fff;
  }

  a.linkbutton {
    text-decoration: none;
  }
}

.explain {
  h2 {
    font-weight: bold;
    font-size: 28px;
  }

  p {
    font-size: 14px;
    font-weight: bold;
    color: #999;
  }

}

footer {
  margin-top: 45px;
}
